* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 935px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.sidebar {
    flex: 0 0;
    background-color: #333;
    color: #fff;
    height: 935px;
  }
  .Item {
    width: 150px;
    padding: 14px 0;
    padding-left: 16px;
    justify-content: center;
    margin-top: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .Item:hover {
    background-color: #5c5c5c;
  }
  .Item:hover a {
    color: #fff;
  }
  .Item a {
    text-decoration: none;
    color: #aaaaaa;
  }
  .Item.active a {
    color: #fff;
  }
  .Item.ItemOne {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  }
  .Item.ItemLast {
    /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  }
.content {
    flex: 1;
    padding: 10px;
    display: grid;
    grid-template-row: repeat(3, 1fr);
    grid-gap: 10px;
}
.box {
    padding: 20px 129px 0px;
  }
  .box-1 {
    text-align: center;
  }
  .box-1 .logo {
    width: 310px;
    height: 122px;
  }
  .box-2 {
    background-color: #efefef;
    padding: 38px 200px;
    margin: 30px 0 40px;
    text-align: center;
  }
  .box-2 .content-head-1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .box-2 .content-body-1 {
    font-size: 16px;
  }
  .box-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
  }
  .box-3 .content-head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  
  .box-3 .content-body .content-text {
    display: flex;
  }
  .box-3 .content-body .logo {
    width: 128px;
    height: 128px;
  }
  .footer {
    background-color: #fff;
    color: #fff;
    padding: 30px 0;
    padding-left: 129px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #ccc;
  }
  .footer p {
    color: #000;
  }
 